USE [master]
GO
/****** Object:  Database [WDGZJiCengGuanLi]    Script Date: 2020/2/1 15:32:39 ******/
CREATE DATABASE [WDGZJiCengGuanLi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WDGZJiCengGuanLi', FILENAME = N'F:\SqlServer2012安装文件夹\实例根目录(R)\MSSQL11.MSSQLSERVER\MSSQL\DATA\WDGZJiCengGuanLi.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WDGZJiCengGuanLi_log', FILENAME = N'F:\SqlServer2012安装文件夹\实例根目录(R)\MSSQL11.MSSQLSERVER\MSSQL\DATA\WDGZJiCengGuanLi_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WDGZJiCengGuanLi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WDGZJiCengGuanLi]
GO
/****** Object:  Table [dbo].[BuMenJiBenXinXiBiao]    Script Date: 2020/2/1 15:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BuMenJiBenXinXiBiao](
	[BuMenBianMa] [nvarchar](12) NOT NULL,
	[MingCheng] [nvarchar](20) NOT NULL,
	[JianJie] [nvarchar](max) NULL,
	[ZhiZe] [nvarchar](max) NULL,
	[LianXiRen] [nvarchar](12) NULL,
	[LianXiDianHua] [nvarchar](24) NULL,
	[BanGongDiDian] [nvarchar](20) NULL,
	[ZhenBianMa] [nvarchar](12) NULL,
	[BanShiLiuCheng] [nvarchar](max) NULL,
	[BeiZhu] [nvarchar](max) NULL,
 CONSTRAINT [PK_BuMenJiBenXinXi] PRIMARY KEY CLUSTERED 
(
	[BuMenBianMa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CunJiBenXinXiBiao]    Script Date: 2020/2/1 15:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CunJiBenXinXiBiao](
	[CunBianMa] [nvarchar](12) NOT NULL,
	[MingCheng] [nvarchar](20) NOT NULL,
	[LeiXing] [nvarchar](3) NULL,
	[DiDian] [nvarchar](40) NULL,
	[XiangZhen] [nvarchar](12) NULL,
	[ZongRenKou] [int] NULL,
	[DangYuanShu] [int] NULL,
	[ZongHuShu] [int] NULL,
	[CGBRenShu] [int] NULL,
	[TuDiMianJi] [numeric](6, 1) NULL,
	[GaiKuang] [nvarchar](max) NULL,
	[FuZeRen] [nvarchar](12) NULL,
	[LianXiFangShi] [nvarchar](40) NULL,
	[BeiZhu] [nvarchar](max) NULL,
	[JingDu] [nvarchar](20) NULL,
	[WeiDu] [nvarchar](20) NULL,
	[FengMao] [nvarchar](max) NULL,
	[WenHua] [nvarchar](max) NULL,
	[CunWeiHui] [nvarchar](max) NULL,
	[DangZhiBu] [nvarchar](max) NULL,
 CONSTRAINT [PK_CunJiBenXinXi] PRIMARY KEY CLUSTERED 
(
	[CunBianMa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FaBuXinXi]    Script Date: 2020/2/1 15:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FaBuXinXi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[InfoType] [varchar](30) NULL,
	[SubTime] [datetime] NULL,
	[Title] [varchar](100) NULL,
	[SubUnit] [varchar](30) NULL,
	[Infomation] [varchar](max) NULL,
	[shenhe] [varchar](10) NULL,
	[beiyong1] [varchar](50) NULL,
	[beiyong2] [varchar](50) NULL,
 CONSTRAINT [PK__FaBuXinX__3214EC27D49C396E] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HuDongJiaoLiu]    Script Date: 2020/2/1 15:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HuDongJiaoLiu](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[Comment] [varchar](500) NULL,
	[Title] [varchar](20) NOT NULL,
	[SubTime] [datetime] NULL,
 CONSTRAINT [PK__HuDongJi__C3B4DFAAE52C6806] PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HuiFuBiao]    Script Date: 2020/2/1 15:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HuiFuBiao](
	[ReplyID] [int] IDENTITY(1,1) NOT NULL,
	[ReplyComment] [varchar](200) NULL,
	[ReplyTime] [datetime] NULL,
	[CommentID] [int] NOT NULL,
	[liuyanren] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReplyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LiuYanBiao]    Script Date: 2020/2/1 15:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LiuYanBiao](
	[BianHao] [int] IDENTITY(1,1) NOT NULL,
	[BiaoTi] [nvarchar](30) NOT NULL,
	[NeiRong] [nvarchar](max) NULL,
	[LiuYanRen] [nvarchar](12) NULL,
	[EMail] [nvarchar](20) NULL,
	[DianHua] [nvarchar](24) NULL,
	[LiuYanShiJian] [datetime] NULL,
	[HuiFuZhuangTai] [nvarchar](10) NULL,
	[HuiFuNeiRong] [nvarchar](max) NULL,
	[HuiFuShiJian] [datetime] NULL,
	[HuiFuRen] [nvarchar](12) NULL,
	[BeiZhu] [nvarchar](7) NULL,
 CONSTRAINT [PK_LiuYanBan] PRIMARY KEY CLUSTERED 
(
	[BianHao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RenYuanXinXiBiao]    Script Date: 2020/2/1 15:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RenYuanXinXiBiao](
	[BianHao] [nvarchar](12) NOT NULL,
	[XingMing] [nvarchar](20) NULL,
	[XingBie] [nvarchar](1) NULL,
	[ChuShengRiQi] [datetime] NULL,
	[JiGuan] [nvarchar](40) NULL,
	[MinZu] [nvarchar](10) NULL,
	[ZhengZhiMianMao] [nvarchar](10) NULL,
	[CJGZShiJian] [datetime] NULL,
	[ZhiWu] [nvarchar](12) NULL,
	[ZhiZe] [nvarchar](max) NULL,
	[XueLi] [nvarchar](10) NULL,
	[BiYeYuanXiao] [nvarchar](20) NULL,
	[ZhuanYe] [nvarchar](20) NULL,
	[GongZuoJianLi] [nvarchar](max) NULL,
	[YiDongDianHua] [nvarchar](24) NULL,
	[BanGongDianHua] [nvarchar](24) NULL,
	[EMail] [nvarchar](20) NULL,
	[JiaTingZhuZhi] [nvarchar](40) NULL,
	[GeRenJianJie] [nvarchar](max) NULL,
	[ZhaoPian] [nvarchar](50) NULL,
	[BanGongDiDian] [nvarchar](40) NULL,
	[BuMenBianMa] [nvarchar](12) NULL,
	[BeiZhu] [nvarchar](max) NULL,
 CONSTRAINT [PK_RenYuanXinXi] PRIMARY KEY CLUSTERED 
(
	[BianHao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WJShangChuan]    Script Date: 2020/2/1 15:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WJShangChuan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nchar](50) NULL,
	[FileType] [nchar](10) NULL,
	[SubTime] [datetime] NULL,
	[FilePath] [nchar](200) NULL,
 CONSTRAINT [PK_WJShangChuan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ZhenJiBenXinXiBiao]    Script Date: 2020/2/1 15:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZhenJiBenXinXiBiao](
	[ZhenBianMa] [nvarchar](12) NOT NULL,
	[MingCheng] [nvarchar](20) NOT NULL,
	[DiDian] [nvarchar](40) NULL,
	[Xian] [nvarchar](10) NULL,
	[ShengShi] [nvarchar](20) NULL,
	[GaiKuang] [nvarchar](max) NULL,
	[BeiZhu] [nvarchar](2000) NULL,
	[JingDu] [nvarchar](20) NULL,
	[WeiDu] [nvarchar](20) NULL,
 CONSTRAINT [PK_ZhenJiBenXinXi] PRIMARY KEY CLUSTERED 
(
	[ZhenBianMa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[CunJiBenXinXiBiao] ([CunBianMa], [MingCheng], [LeiXing], [DiDian], [XiangZhen], [ZongRenKou], [DangYuanShu], [ZongHuShu], [CGBRenShu], [TuDiMianJi], [GaiKuang], [FuZeRen], [LianXiFangShi], [BeiZhu], [JingDu], [WeiDu], [FengMao], [WenHua], [CunWeiHui], [DangZhiBu]) VALUES (N'371426108253', N'小粟庄村 ', N'自然村', N'', N'王打卦镇', 0, 0, 0, 0, NULL, N'', N'', N'', N'', N'', N'', N'', N'', N'', N'')
INSERT [dbo].[CunJiBenXinXiBiao] ([CunBianMa], [MingCheng], [LeiXing], [DiDian], [XiangZhen], [ZongRenKou], [DangYuanShu], [ZongHuShu], [CGBRenShu], [TuDiMianJi], [GaiKuang], [FuZeRen], [LianXiFangShi], [BeiZhu], [JingDu], [WeiDu], [FengMao], [WenHua], [CunWeiHui], [DangZhiBu]) VALUES (N'371426108254', N'北侯村 ', N'自然村', NULL, NULL, 0, 0, 0, 0, CAST(0.0 AS Numeric(6, 1)), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[FaBuXinXi] ON 

SET IDENTITY_INSERT [dbo].[FaBuXinXi] OFF
SET IDENTITY_INSERT [dbo].[HuDongJiaoLiu] ON 

INSERT [dbo].[HuDongJiaoLiu] ([CommentID], [Comment], [Title], [SubTime]) VALUES (1, N'sss', N'出售手机', CAST(0x0000A964016411FA AS DateTime))
INSERT [dbo].[HuDongJiaoLiu] ([CommentID], [Comment], [Title], [SubTime]) VALUES (2, N'1212', N'这个网站太好用了', CAST(0x0000A964016411FA AS DateTime))
INSERT [dbo].[HuDongJiaoLiu] ([CommentID], [Comment], [Title], [SubTime]) VALUES (3, N'1212', N'新网站，新气象', CAST(0x0000A964016556DF AS DateTime))
SET IDENTITY_INSERT [dbo].[HuDongJiaoLiu] OFF
SET IDENTITY_INSERT [dbo].[HuiFuBiao] ON 

INSERT [dbo].[HuiFuBiao] ([ReplyID], [ReplyComment], [ReplyTime], [CommentID], [liuyanren]) VALUES (3, N'sss', NULL, 2, NULL)
INSERT [dbo].[HuiFuBiao] ([ReplyID], [ReplyComment], [ReplyTime], [CommentID], [liuyanren]) VALUES (4, N'121212', CAST(0x0000A96401638C33 AS DateTime), 2, NULL)
INSERT [dbo].[HuiFuBiao] ([ReplyID], [ReplyComment], [ReplyTime], [CommentID], [liuyanren]) VALUES (5, N'121212121', CAST(0x0000A96401638F43 AS DateTime), 2, NULL)
SET IDENTITY_INSERT [dbo].[HuiFuBiao] OFF
SET IDENTITY_INSERT [dbo].[LiuYanBiao] ON 

INSERT [dbo].[LiuYanBiao] ([BianHao], [BiaoTi], [NeiRong], [LiuYanRen], [EMail], [DianHua], [LiuYanShiJian], [HuiFuZhuangTai], [HuiFuNeiRong], [HuiFuShiJian], [HuiFuRen], [BeiZhu]) VALUES (1, N'七夕快乐', N'', N'', N'', N'', NULL, N'已回复', N'jowefj aisofjoiw aejlksdjf oawjeoifjsdalfj oawejf lkasdjfoiwej lasjdfojwe aawef ', CAST(0x0000A9B800FC8A2D AS DateTime), N'', N'不公开')
INSERT [dbo].[LiuYanBiao] ([BianHao], [BiaoTi], [NeiRong], [LiuYanRen], [EMail], [DianHua], [LiuYanShiJian], [HuiFuZhuangTai], [HuiFuNeiRong], [HuiFuShiJian], [HuiFuRen], [BeiZhu]) VALUES (2, N'节日快乐', N'', N'', N'', N'', NULL, N'已回复', N'asdf wef asdf asd 
啊手动阀手动阀阿阿斯蒂芬', CAST(0x0000A9B800FC817F AS DateTime), N'', N'不公开')
INSERT [dbo].[LiuYanBiao] ([BianHao], [BiaoTi], [NeiRong], [LiuYanRen], [EMail], [DianHua], [LiuYanShiJian], [HuiFuZhuangTai], [HuiFuNeiRong], [HuiFuShiJian], [HuiFuRen], [BeiZhu]) VALUES (4, N'我们村什么时候修马路？', N'786fdgfsdf 士大夫阿瑟东访问', N'4453', N'43453', N'453', CAST(0x0000A9B70145E2F4 AS DateTime), N'未回复', N'', NULL, N'咨询', N'不公开')
SET IDENTITY_INSERT [dbo].[LiuYanBiao] OFF
INSERT [dbo].[RenYuanXinXiBiao] ([BianHao], [XingMing], [XingBie], [ChuShengRiQi], [JiGuan], [MinZu], [ZhengZhiMianMao], [CJGZShiJian], [ZhiWu], [ZhiZe], [XueLi], [BiYeYuanXiao], [ZhuanYe], [GongZuoJianLi], [YiDongDianHua], [BanGongDianHua], [EMail], [JiaTingZhuZhi], [GeRenJianJie], [ZhaoPian], [BanGongDiDian], [BuMenBianMa], [BeiZhu]) VALUES (N'005', N'管承涛', N'男', CAST(0x00008CF000000000 AS DateTime), N'', N'汉族', N'积极分子', CAST(0x0000A99300000000 AS DateTime), N'', N'', N'博士', N'', N'', N'', N'', N'', N'', N'', N'', NULL, N'', N'1', N'')
INSERT [dbo].[RenYuanXinXiBiao] ([BianHao], [XingMing], [XingBie], [ChuShengRiQi], [JiGuan], [MinZu], [ZhengZhiMianMao], [CJGZShiJian], [ZhiWu], [ZhiZe], [XueLi], [BiYeYuanXiao], [ZhuanYe], [GongZuoJianLi], [YiDongDianHua], [BanGongDianHua], [EMail], [JiaTingZhuZhi], [GeRenJianJie], [ZhaoPian], [BanGongDiDian], [BuMenBianMa], [BeiZhu]) VALUES (N'1225', N'李白', N'女', CAST(0x0000A95800000000 AS DateTime), N'', N'汉族', N'群众', CAST(0x0000A99800000000 AS DateTime), N'', N'', N'博士', N'', N'', N'', N'', N'', N'', N'', N'', NULL, N'', N'司法所', N'')
SET IDENTITY_INSERT [dbo].[WJShangChuan] ON 

INSERT [dbo].[WJShangChuan] ([ID], [FileName], [FileType], [SubTime], [FilePath]) VALUES (1036, N'3.农村土地承包经营权流转合同鉴定.doc                             ', N'办公文件      ', CAST(0x0000A9AB0163DA8A AS DateTime), N'/Upload/File/2018/12/3/3.农村土地承包经营权流转合同鉴定.doc                                                                                                                                                            ')
INSERT [dbo].[WJShangChuan] ([ID], [FileName], [FileType], [SubTime], [FilePath]) VALUES (1038, N'王打卦镇农村土地承包经营权流转合同.doc                             ', N'办公文件      ', CAST(0x0000A9AB016407F4 AS DateTime), N'/Upload/File/2018/12/3/王打卦镇农村土地承包经营权流转合同.doc                                                                                                                                                            ')
INSERT [dbo].[WJShangChuan] ([ID], [FileName], [FileType], [SubTime], [FilePath]) VALUES (1039, N'4.农业支持保护补贴.docx                                   ', N'办公文件      ', CAST(0x0000A9AB016417F7 AS DateTime), N'/Upload/File/2018/12/3/4.农业支持保护补贴.docx                                                                                                                                                                  ')
SET IDENTITY_INSERT [dbo].[WJShangChuan] OFF
ALTER TABLE [dbo].[HuiFuBiao]  WITH CHECK ADD  CONSTRAINT [FK_HuiFu_LiuYan_CommentID_Id] FOREIGN KEY([CommentID])
REFERENCES [dbo].[HuDongJiaoLiu] ([CommentID])
GO
ALTER TABLE [dbo].[HuiFuBiao] CHECK CONSTRAINT [FK_HuiFu_LiuYan_CommentID_Id]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'和地图关联字段' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BuMenJiBenXinXiBiao', @level2type=N'COLUMN',@level2name=N'BuMenBianMa'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'党政办、组织室、团委、妇联、信访办、纪委等' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BuMenJiBenXinXiBiao', @level2type=N'COLUMN',@level2name=N'MingCheng'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'和地图关联字段，用国家统一编码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CunJiBenXinXiBiao', @level2type=N'COLUMN',@level2name=N'CunBianMa'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'从值表选择：自然村、行政村' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CunJiBenXinXiBiao', @level2type=N'COLUMN',@level2name=N'LeiXing'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'同“镇基本信息表”中的镇编码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CunJiBenXinXiBiao', @level2type=N'COLUMN',@level2name=N'XiangZhen'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CunJiBenXinXiBiao'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'自动取系统时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LiuYanBiao', @level2type=N'COLUMN',@level2name=N'LiuYanShiJian'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'默认状态是未回复' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LiuYanBiao', @level2type=N'COLUMN',@level2name=N'HuiFuZhuangTai'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'自动取系统时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LiuYanBiao', @level2type=N'COLUMN',@level2name=N'HuiFuShiJian'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'作为信件的类型字段' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LiuYanBiao', @level2type=N'COLUMN',@level2name=N'HuiFuRen'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'作为信件的是否公开字段' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LiuYanBiao', @level2type=N'COLUMN',@level2name=N'BeiZhu'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'	从值表取值' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RenYuanXinXiBiao', @level2type=N'COLUMN',@level2name=N'MinZu'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'从值表取值' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RenYuanXinXiBiao', @level2type=N'COLUMN',@level2name=N'ZhengZhiMianMao'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'从值表取值' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RenYuanXinXiBiao', @level2type=N'COLUMN',@level2name=N'XueLi'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'同“部门基本信息表”中的部门编码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RenYuanXinXiBiao', @level2type=N'COLUMN',@level2name=N'BuMenBianMa'
GO
USE [master]
GO
